.THIS .toggle {
   display: none;
}
.THIS .tokenPadding {
	/*
    padding-right: testautonumdata__token(LC_Custom_Padding_Token);
    padding-bottom: testautonumdata__token(LC_Custom_Padding_Token);
    padding-left: testautonumdata__token(LC_Custom_Padding_Token);
    */

    padding-right: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 1.5%;

}
@media(max-width:1500px){
    .THIS .sizehidden{
        display : none !important;
    }
}