.THIS .toggle {
   display: none;
}
.THIS .tokenPadding {


    padding-right: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 1.5%;

}
@media(max-width:1500px){
    .THIS .sizehidden{
        display : none !important;
    }
}