.THIS .toggle {
   display: none;
}
.THIS .tokenPadding {
    padding-right: testautonumdata__token(LC_Custom_Padding_Token);
    padding-bottom: testautonumdata__token(LC_Custom_Padding_Token);
    padding-left: testautonumdata__token(LC_Custom_Padding_Token);
}
@media(max-width:1500px){
    .THIS .sizehidden{
        display : none !important;
    }
}