.THIS .itemTitle {
    font-size: 20px;
    padding-bottom: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #ffffff;
}
.THIS .recordItem {
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #ffffff;
}
.THIS .userPhoto {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
    width: 50px;
    border: solid #ddd;
}

.THIS .imgComp {
    max-width: 32px;
    max-height: 32px;
    display: block;
	border-radius: 0.1875rem;
    border: 0px none;
    box-sizing: border-box;
    font-weight: normal;
    color: rgb(55, 61, 62);
}



.THIS.account {
    background-color: #7f8de1;
    border-radius: 50%;
}

.THIS.calibration {
    background-color: #47cfd2;
    border-radius: 50%;
}

.THIS.campaign {
    background-color: #f49756;
    border-radius: 50%;
}

.THIS.case {
    background-color: #F2CF5B;
    border-radius: 50%;
}

.THIS.orders {
    background-color: #769ED9;
    border-radius: 50%;
}

.THIS.file {
    background-color: #BAAC93;
    border-radius: 50%;
}


.THIS.campaignmembers {
    background-color: #f49756;
    border-radius: 50%;
}

.THIS.coaching {
    background-color: #f67594;
    border-radius: 50%;
}

.THIS.connected-apps-admins {
    background-color: #9895ee;
    border-radius: 50%;
}

.THIS.contact {
    background-color: #a094ed;
    border-radius: 50%;
}

.THIS.contract {
    background-color: #6ec06e;
    border-radius: 50%;
}

.THIS.dashboard {
    background-color: #ef6e64;
    border-radius: 50%;
}

.THIS.drafts {
    background-color: #6ca1e9;
    border-radius: 50%;
}

.THIS.endorsement {
    background-color: #8b9ae3;
    border-radius: 50%;
}

.THIS.lead {
    background-color: #ed7e58;
    border-radius: 50%;
}

.THIS.topic {
    background-color: #56AADF;
    border-radius: 50%;
}

.THIS.opportunity {
    background-color: #fcb95b;
    border-radius: 50%;
}

.THIS.performance {
    background-color: #8b9ae3;
    border-radius: 50%;
}

.THIS.product {
    background-color: #b781d3;
    border-radius: 50%;
}

.THIS.portal {
    background-color: #b781d3;
    border-radius: 50%;
}


.THIS.approval {
    background-color: #50cc7a;
    border-radius: 50%;
}

.THIS.apps {
    background-color: #3c97dd;
    border-radius: 50%;
}

.THIS.avatar {
    background-color: #62b7ed;
    border-radius: 50%;
}

.THIS.email {
    background-color: #95aec5;
    border-radius: 50%;
}

.THIS.event {
    background-color: #eb7092;
    border-radius: 50%;
}

.THIS.feed {
    background-color: #62b7ed;
    border-radius: 50%;
}

.THIS.feedback {
    background-color: #6da1ea;
    border-radius: 50%;
}

.THIS.file {
    background-color: #baac93;
    border-radius: 50%;
}

.THIS.email {
    background-color: #95aec5;
    border-radius: 50%;
}

.THIS.groups {
    background-color: #779ef2;
    border-radius: 50%;
}

.THIS.link {
    background-color: #7a9ae6;
    border-radius: 50%;
}

.THIS.note {
    background-color: #e6d478;
    border-radius: 50%;
}

.THIS.people {
    background-color: #34becd;
    border-radius: 50%;
}

.THIS.photo {
    background-color: #d7d1d1;
    border-radius: 50%;
}

.THIS.poll {
    background-color: #699be1;
    border-radius: 50%;
}

.THIS.post {
    background-color: #699be1;
    border-radius: 50%;
}

.THIS.report {
    background-color: #f77373;
    border-radius: 50%;
}

.THIS.solution {
    background-color: #8fc972;
    border-radius: 50%;
}

.THIS.task {
    background-color: #4bc076;
    border-radius: 50%;
}

.THIS.thanks {
    background-color: #e9696e;
    border-radius: 50%;
}

.THIS.scan-card {
    background-color: #f39e58;
    border-radius: 50%;
}


.THIS.quotes {
    background-color: #88c651;
    border-radius: 50%;
}

.THIS.goals {
    background-color: #7fc574;
    border-radius: 50%;
}

.THIS.concur {
    background-color: #7fc574;
    border-radius: 50%;
}

.THIS.dropbox {
    background-color: #52aef9;
    border-radius: 50%;
}

.THIS.evernote {
    background-color: #86c86f;
    border-radius: 50%;
}

.THIS.article {
    background-color: #f2cf5b;
    border-radius: 50%;
}

.THIS.custom1 {
    background-color: #ff7b84;
    border-radius: 50%;
}

.THIS.custom2 {
    background-color: #cfd05c;
    border-radius: 50%;
}

.THIS.custom3 {
    background-color: #ecb46c;
    border-radius: 50%;
}
.THIS.custom4 {
    background-color: #e1d951;
    border-radius: 50%;
}
.THIS.custom5 {
    background-color: #9fdb66;
    border-radius: 50%;
}
.THIS.custom6 {
    background-color: #54c473;
    border-radius: 50%;
}
.THIS.custom7 {
    background-color: #6a89e5;
    border-radius: 50%;
}
.THIS.custom8 {
    background-color: #50ceb9;
    border-radius: 50%;
}
.THIS.custom9 {
    background-color: #6b9ee2;
    border-radius: 50%;
}
.THIS.custom10 {
    background-color: #6488e3;
    border-radius: 50%;
}
.THIS.custom11 {
    background-color: #8784ea;
    border-radius: 50%;
}
.THIS.custom12 {
    background-color: #dc71d1;
    border-radius: 50%;
}
.THIS.custom13 {
    background-color: #df6184;
    border-radius: 50%;
}
.THIS.custom14 {
    background-color: #3cc2b3;
    border-radius: 50%;
}
.THIS.custom15 {
    background-color: #f77e75;
    border-radius: 50%;
}
.THIS.custom16 {
    background-color: #e9af67;
    border-radius: 50%;
}
.THIS.custom17 {
    background-color: #acd360;
    border-radius: 50%;
}
.THIS.custom18 {
    background-color: #4dca76;
    border-radius: 50%;
}
.THIS.custom19 {
    background-color: #3abeb1;
    border-radius: 50%;
}
.THIS.custom20 {
    background-color: #48c7c8;
    border-radius: 50%;
}
.THIS.custom21 {
    background-color: #8a7aed;
    border-radius: 50%;
}
.THIS.custom22 {
    background-color: #8b85f9;
    border-radius: 50%;
}
.THIS.custom23 {
    background-color: #b070e6;
    border-radius: 50%;
}
.THIS.custom24 {
    background-color: #e56798;
    border-radius: 50%;
}
.THIS.custom25 {
    background-color: #e46fbe;
    border-radius: 50%;
}
.THIS.custom26 {
    background-color: #7698f0;
    border-radius: 50%;
}
.THIS.custom27 {
    background-color: #5ab0d2;
    border-radius: 50%;
}
.THIS.custom28 {
    background-color: #89c059;
    border-radius: 50%;
}
.THIS.custom29 {
    background-color: #bdd25f;
    border-radius: 50%;
}
.THIS.custom30 {
    background-color: #f59f71;
    border-radius: 50%;
}
.THIS.custom31 {
    background-color: #eb687f;
    border-radius: 50%;
}
.THIS.custom32 {
    background-color: #38c393;
    border-radius: 50%;
}
.THIS.custom33 {
    background-color: #97cf5d;
    border-radius: 50%;
}
.THIS.custom34 {
    background-color: #d58a6a;
    border-radius: 50%;
}
.THIS.custom35 {
    background-color: #e9637e;
    border-radius: 50%;
}
.THIS.custom36 {
    background-color: #d472d4;
    border-radius: 50%;
}
.THIS.custom37 {
    background-color: #8c89f2;
    border-radius: 50%;
}
.THIS.custom38 {
    background-color: #53b6d7;
    border-radius: 50%;
}
.THIS.custom39 {
    background-color: #4fbe75;
    border-radius: 50%;
}
.THIS.custom40 {
    background-color: #83c75e;
    border-radius: 50%;
}
.THIS.custom41 {
    background-color: #43b5b5;
    border-radius: 50%;
}
.THIS.custom42 {
    background-color: #cfd05b;
    border-radius: 50%;
}
.THIS.custom43 {
    background-color: #7f93f9;
    border-radius: 50%;
}
.THIS.custom44 {
    background-color: #c8ca58;
    border-radius: 50%;
}
.THIS.custom45 {
    background-color: #d95879;
    border-radius: 50%;
}
.THIS.custom46 {
    background-color: #67a5e7;
    border-radius: 50%;
}
.THIS.custom47 {
    background-color: #5fcc64;
    border-radius: 50%;
}
.THIS.custom48 {
    background-color: #ef697f;
    border-radius: 50%;
}
.THIS.custom49 {
    background-color: #e25c80;
    border-radius: 50%;
}
.THIS.custom50 {
    background-color: #49bcd3;
    border-radius: 50%;
}
.THIS.custom51 {
    background-color: #d8c760;
    border-radius: 50%;
}
.THIS.custom52 {
    background-color: #ee8e6f;
    border-radius: 50%;
}
.THIS.custom53 {
    background-color: #f36e83;
    border-radius: 50%;
}
.THIS.custom54 {
    background-color: #ea70b1;
    border-radius: 50%;
}
.THIS.custom55 {
    background-color: #d66ee0;
    border-radius: 50%;
}
.THIS.custom56 {
    background-color: #718deb;
    border-radius: 50%;
}
.THIS.custom57 {
    background-color: #5a9cdd;
    border-radius: 50%;
}
.THIS.custom58 {
    background-color: #34b59d;
    border-radius: 50%;
}
.THIS.custom59 {
    background-color: #e3d067;
    border-radius: 50%;
}
.THIS.custom60 {
    background-color: #bf5a88;
    border-radius: 50%;
}
.THIS.custom61 {
    background-color: #f57376;
    border-radius: 50%;
}
.THIS.custom62 {
    background-color: #6b92dc;
    border-radius: 50%;
}
.THIS.custom63 {
    background-color: #7ccf60;
    border-radius: 50%;
}
.THIS.custom64 {
    background-color: #618fd8;
    border-radius: 50%;
}
.THIS.custom65 {
    background-color: #f279ab;
    border-radius: 50%;
}
.THIS.custom66 {
    background-color: #d8be5f;
    border-radius: 50%;
}
.THIS.custom67 {
    background-color: #f87d76;
    border-radius: 50%;
}
.THIS.custom68 {
    background-color: #f26979;
    border-radius: 50%;
}
.THIS.custom69 {
    background-color: #ed6387;
    border-radius: 50%;
}
.THIS.custom70 {
    background-color: #e769b4;
    border-radius: 50%;
}
.THIS.custom71 {
    background-color: #e36ee3;
    border-radius: 50%;
}
.THIS.custom72 {
    background-color: #8d9bfb;
    border-radius: 50%;
}
.THIS.custom73 {
    background-color: #679ef0;
    border-radius: 50%;
}
.THIS.custom74 {
    background-color: #41c8a0;
    border-radius: 50%;
}
.THIS.custom75 {
    background-color: #cd9f65;
    border-radius: 50%;
}
.THIS.custom76 {
    background-color: #db6d7a;
    border-radius: 50%;
}
.THIS.custom77 {
    background-color: #b55d5b;
    border-radius: 50%;
}
.THIS.custom78 {
    background-color: #5a95dd;
    border-radius: 50%;
}
.THIS.custom79 {
    background-color: #8ed363;
    border-radius: 50%;
}
.THIS.custom80 {
    background-color: #659ad5;
    border-radius: 50%;
}
.THIS.custom81 {
    background-color: #da627f;
    border-radius: 50%;
}
.THIS.custom82 {
    background-color: #d15b97;
    border-radius: 50%;
}
.THIS.custom83 {
    background-color: #e7806f;
    border-radius: 50%;
}
.THIS.custom84 {
    background-color: #f6707b;
    border-radius: 50%;
}
.THIS.custom85 {
    background-color: #f26891;
    border-radius: 50%;
}
.THIS.custom86 {
    background-color: #e260ab;
    border-radius: 50%;
}
.THIS.custom87 {
    background-color: #d876e5;
    border-radius: 50%;
}
.THIS.custom88 {
    background-color: #996fe6;
    border-radius: 50%;
}
.THIS.custom89 {
    background-color: #3e99be;
    border-radius: 50%;
}
.THIS.custom90 {
    background-color: #22a48a;
    border-radius: 50%;
}
.THIS.custom91 {
    background-color: #bf7b66;
    border-radius: 50%;
}
.THIS.custom92 {
    background-color: #517e82;
    border-radius: 50%;
}
.THIS.custom93 {
    background-color: #904d4c;
    border-radius: 50%;
}
.THIS.custom94 {
    background-color: #439cba;
    border-radius: 50%;
}
.THIS.custom95 {
    background-color: #8bcf6a;
    border-radius: 50%;
}
.THIS.custom96 {
    background-color: #6d9de3;
    border-radius: 50%;
}
.THIS.custom97 {
    background-color: #dd6085;
    border-radius: 50%;
}
.THIS.custom98 {
    background-color: #e1be5c;
    border-radius: 50%;
}
.THIS.custom99 {
    background-color: #f0856e;
    border-radius: 50%;
}
.THIS.custom100 {
    background-color: #e15d76;
    border-radius: 50%;
}

.THIS .divlogo {
    margin-right: 0.875rem;
    border-radius: 50%;
	margin-bottom: 0.875rem;
    width: 2.0rem;
	height: 2.075rem;
    display: block;
    box-sizing: border-box;
    padding-top: 1px;
    border-radius: 50%;
}

.THIS .recName {
    float: left;
    padding-top: 3px;
}