.THIS {
}

.THIS .xc-hidden {
   display:none !important;
 }

.THIS .userdetailstable {
    padding-left: 2px;
}

.THIS .iconsDiv {
        padding-right: 3%;
    min-width: 12px;
}

.THIS .numberDiv {
    padding-top: 1%;
}

.THIS .smallFit {
       width:auto;
       overflow:hidden;
    float: left;
    
}

@media(min-width: 768px){
    .THIS .pic-mediumFit{
        width: 5%;
    }
    
    .THIS .info-mediumFit{
        width: 20%;
        float: left;
    }
    
    .THIS .tweet-mediumFit{
        width: 80%;
        float: left;
    }
}

@media(min-width: 1024px){
    .THIS .pic-largeFit{
        width: 5%;
	}
    
    .THIS .info-largeFit{
        width: 40%;
        float: left;
	}

    .THIS .tweet-largeFit{
        width: 60%;
        float: left;
	}
}

@media(min-width: 2000px){
    .THIS .pic-xlargeFit{
        width: 5%;
	}
    
    .THIS .info-xlargeFit{
        width: 35%;
        float: left;
	}

    .THIS .tweet-xlargeFit{
        width: 65%;
        float: left;
	}
}