.THIS .inputCustomStyle {
    
    background-color: white;
    color: #16325c;
    border: 1px solid #d8dde6;
    border-radius: 0.25rem;
    width: 20%;
    transition: border 0.1s linear, background-color 0.1s linear;
    display: inline-block;
    padding: 0 1rem 0 0.75rem;
    line-height: 2.125rem;
    min-height: calc(2.125rem + 2px);
}

a.THIS {
    font: 100% / 1.5 "Salesforce Sans", Arial, sans-serif;
    font-family: Salesforce Sans;
    color: yellow;
}